# see https://travis-ci.community/t/error-installing-oraclejdk8-expected-feature-release-number-in-range-of-9-to-14-but-got-8/3766/4
dist: trusty
language: java
env:
  global:
    - CODECOV_TOKEN=87b358b4-6adf-4e8a-b309-9616c4b39557
after_success:
  - bash <(curl -s https://codecov.io/bash)
jdk:
  - oraclejdk8
  - openjdk8